/* Add your style here */
body {
    background-color: white; 
    font-family: Verdana;
    color: #330033
}

h1 {
    font-size: 40px;
    font-family: Serif;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-family: sans-serif;
    text-decoration:underline;
}

p, ol{
    width:550px;
    padding-top:10px;
    padding-bottom:10px;

}
ol{
    background-color:#FFCC99;
}
ul{
    background-color:#CCFFCC;
}
li{
    font-style:italic;
}
a {
    text-decoration:none;
}
a:hover {
    color:#33ff33;
}
ul li:nth-child(odd) {
    background-color:white;
    width: 500px;
}
