.floater1 {
    background-color: #DDD;
    height: 30px;
}

.floater2 {
    background-color: #DD0;
    height: 30px;
}

.floater3 {
    background-color: #D0D;
    height: 30px;
}

.floater4 {
    background-color: #EEE;
    height: 30px;
}
.floater5 {
    background-color: #EEE;
    height:30px;
}
.floater6 {
    background-color: #DDD;
    height:30px;
}

body {
    padding-top: 25px;
}

@media (max-width: 480px) { 
        body {
          font-size: 20px;
        }

        .hidden-phone {
           display: block;
        }
    }